@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Babylonica&family=Bellefair&family=Dangrek&family=Montserrat:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Babylonica&family=Bellefair&family=Dangrek&family=Montserrat:ital,wght@1,100&display=swap");
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: black;
  color: white;
  background-image: url("/images/back.jpg");
}

.movie-img {
  width: 190;
  height: 270px;
}

.movies-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  text-align: center;
  gap: 1rem;
}

.each-movie-div {
  width: 190px;
  height: 500px;
  background-color: #242525;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.movie-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.button-style {
  border: none;
  background-color: #242525;
  color: white;
  font-size: 15px;
  margin-bottom: 15px;
}

.button-list {
  border: none;
  background-color: #242525;
  color: white;
  font-size: 15px;
}

.button-watch {
  border: none;
  background-color: #434547;
  font-size: 15px;
  padding: 10px 35px;
  border-radius: 6px;
  color: #3f6fb2;
  font-weight: bold;
}

.plus-icon {
  color: #3f6fb2;
}

.star {
  color: #ecd409;
}

span {
  background-color: #242525;
  color: white;
  font-size: 15px;
  color: #a0a0a0;
  display: flex;
  margin-left: 5px;
  margin-top: 8px;
}

.movie-title {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 20px;
  text-align: left;
}

.movie-list-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sub-movie {
  color: #a0a0a0;
}

b {
  color: #ecd409;
}

.movie-title-div {
  width: 190px;
  height: 70px;
}

.profile-div {
  display: flex;
  justify-content: center;
  gap: 3rem;
  /* background-color: red; */
  min-height: 90vh;
  align-items: center;
}

.img-profile-div,
.profile-links {
  flex-direction: column;
}

.profile-links {
  align-self: center;
}

.profile-links > p > a {
  background-color: #242525;
  /* border-radius: 6px; */
  padding: 5px;
}

.delete-profile {
  background-color: #c61919;
  border: none;
  /* border-radius: 6px; */
  color: white;
}

.favourites-movie-div {
  height: 450px;
  background-color: #242525;
}

.profile-img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 5px 15px;
}

.hello-profile {
  font-family: "Babylonica", cursive;
  font-size: 40px;
  font-weight: normal;
}

.welcome {
  text-align: center;
  margin-top: 50px;
  color: #ecd409;
  font-family: "Babylonica", cursive;
  font-size: 100px;
  font-weight: lighter;
  align-items: center;
  margin-top: 200px;
}

/* .movie-detail-div {
  display: flex;
  width: 500px;
  justify-content: center;
} */

.movie-detail {
  display: flex;
  gap: 3rem;
  justify-content: center;
  height: 60vh;
  align-items: center;
}

.details-movie {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.movie-video {
  width: 40%;
}

.buttons-details {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.buttons-details {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.button-list-details {
  border: none;
  background-color: black;
  color: white;
  font-size: 12px;
}

.button-watch-details {
  border: none;
  background-color: #434547;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 6px;
  color: #3f6fb2;
  font-weight: bold;
}
.delete-watch-list {
  border: none;
  background-color: #8A2222;
  color: white;
  padding: 8px;
  border-radius: 6px;
  align-self: center;
}

