<h1>Movies</h1>
{{#each user.favourites}}
  <div class="favourites-movie-div">
    <img
      class="movie-img"
      src="http://image.tmdb.org/t/p/w1280/{{image}}"
      alt=""
    />
    <span><i class="star fa-solid fa-star"></i>{{rating}}</span>
    <div class="movie-title-div">
      <p class="movie-title">{{title}}</p>
    </div>
    <form action="/movies/favourite-movies/{{_id}}/delete" method="POST">
      <button type="submit">DELETE MOVIE</button>
    </form>
  </div>
{{/each}}