<h1><b>|</b> Watch List </h1>
<div class="movies-div">
  {{#each user.watchList}}
    <div class="each-movie-div">
      <img
        class="movie-img"
        src="http://image.tmdb.org/t/p/w1280/{{image}}"
        alt=""
      />
      <span><i class="star fa-solid fa-star"></i>{{rating}}</span>
      <div class="movie-title-div">
        <p class="movie-title">{{title}}</p>
      </div>
      <div class="movie-button">
        <form class="delete-watch-form" action="/movies/watch-list/{{_id}}/delete" method="POST">
      <button class="delete-watch-list" type="submit">Remove</button>
        </div>
    </div>
  {{/each}}
</div>
